span.questionId {
	line-height: 2.4;
}

.column-ID
{
	width: 10%;
	text-align: center;
}

th#shortcode
{
	width: 15%;
	text-align: center;
}

td.shortcode.column-shortcod,
th.manage-column.column-shortcode,
th#shortcode,
th.manage-column.column-ID,
th#ID {
	text-align: center;
}

td.shortcode.column-shortcode {
	text-align: center;
}